<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MyJukebox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MyJukeboxWMPDapper" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MyJukebox;Integrated Security=True" />
    <add name="MyJukeboxEntities" connectionString="metadata=res://*/DAL.MyJukeboxModel.csdl|res://*/DAL.MyJukeboxModel.ssdl|res://*/DAL.MyJukeboxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=A:\Database\MyJukebox\MyJukebox.mdf;integrated security=True;multipleactiveresultsets=True;connect timeout=30;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <MyJukebox.Properties.Settings>
      <setting name="Version" serializeAs="String">
        <value>v2.0.2</value>
      </setting>
    </MyJukebox.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
      <probing privatePath="lib;libs" xmlns="" />
    </assemblyBinding>
  </runtime>
</configuration>